<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Coffee Master UI</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Coffee Master UI</h1>
      <form action="/restart-service" method="post">
        <button type="submit" class="btn btn-primary">Restart Service</button>
      </form>
      <hr>
      <a href="/download-csv" class="btn btn-success">Download CSV</a>
      <hr>
      <form action="/update-whitelist" method="post">
        <div class="form-group">
          <label for="whitelistContent">Edit Whitelist</label>
          <textarea class="form-control" id="whitelistContent" name="whitelist_content" rows="10">{{ whitelist_content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Whitelist</button>
      </form>
      <hr>
      <a href="/logs" class="btn btn-info">View Logs</a>
    </div>
  </body>
</html>
